html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Pattaya';
    background-color: whitesmoke;
}

h1{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 4vh;
    letter-spacing: 0.25rem;
}

.loader {
    /* to be fixed even if the user is scrolling */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

/* to center loader */
.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* image container */
.image-container {
    margin: 3vh 30%;
}

.image-container img {
    width: 100%;
}